.swiper-container {
  width: 500px;
  height: 300px;
  position: fixed !important;
  top: 30px;
  right: 30px;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination,
.swiper-scrollbar {
  display: none !important;
}

body {
  paddiing: 0.5em !important;
}

p {
  color: #000;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 3em;
  font-weight: 400;
}