.swiper-container {
  width: 500px;
  height: 300px;
  position: fixed !important;
  top: 30px;
  right: 30px;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination,
.swiper-scrollbar {
  display: none !important;
}